.container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.inputSeach{
    border: 4px solid rgba(255, 217, 0, 0.76);
    width:300px;
    height:30px;
    border-radius:4px;
    margin-right:5px;
    outline: none;
}
.formsearch{
    display: flex;
    justify-content: center;
}
.dbapi{
    position: absolute;
    top: 127px;
    left: 915px;
}
.filterType{
    position: absolute;
    left: 1118px;
    top: 127px;
}

.button{
    border:4px solid rgba(255, 217, 0, 0.76);
    background: none;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    color:rgba(255, 217, 0, 0.76) ;
    -webkit-text-stroke: 0.7px blue;
    font-size: 22px;
}
.btnActualizar{
    position: absolute;
    left: 125px;
    top: 120px;
}
.btnActualizar:hover{
    cursor: pointer;
}