.container{
    border: 3px solid rgba(255, 217, 0, 0.76);
    width:200px;
    height: 290px;
   
    
}
.container:hover{
    border: 3px solid blue;
    color:blue;
    
}

.name{
    display: flex;
    justify-content: center;
}


.titleName{
    color:rgba(255, 217, 0, 0.76) ;
    -webkit-text-stroke: 0.7px blue;
    font-size: 26px;
}


.img{
    display: flex;
    justify-content: center;
    margin-top: 10px;   
}
